<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' ></script>
<script src='/javascripts/sorttable.js' type='text/javascript'></script>

<body>
<div id="alerts"></div>
<div id="page" class=page>      <!--Div page with id=page - main container-->
    <div>
        <ul>
            <h2>Miejsca w których jest transmisja</h2>
            <table class="sortable table">
                <tr>
                    <th>nazwa baru</th>
                    <th>adres</th>
                </tr>
                <% args.map((element)=>{%>
                    <tr>
                        <td><a href=/bar/<%= element.id_baru %> class="link"><%= element.nazwa_baru %></a></td>
                        <td><a href=/bar/<%= element.id_baru %> class="link"><%= element.miasto %> <%= element.ulica %> <%= element.numer_budynku %> <%= element.numer_lokalu%></a></td>
                    </tr>
                <%}) %>

            </table>
        </ul>
    </div>

</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>
