<!DOCTYPE html>
<html>
<% include head.ejs %>
<!--Include head section (same for all pages)-->

<script src='/javascripts/alert.js' type='text/javascript'></script>
<script src='/javascripts/sorttable.js' type='text/javascript'></script>

<body>
<div id="alerts"></div>
<div id="page" class=page>
    <h1><%= title %></h1>
    <table class="sortable table">
        <thead>
        <th>Nazwa baru</th>
        <th>Miasto</th>
        <th>Opcje</th>
        </thead>
        <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><a href=/bar/<%= data[i].id_baru %> class="link"><%= data[i].nazwa_baru %></a></td>
                <td><%= data[i].miasto %></td>
                <td><a href="<%= "/bars/show_matches/" + data[i].id_baru %>" class="link">Pokaż mecze</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include header.ejs %>
<!--Include header (top menu logo etc)-->
<% include footer.ejs %>
<!--Include footer-->
</body>
</html>
