<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' ></script>

<!--Inline Javascript-->
<script>
    function validateForm()
    {
        var err = "";
        if(document.getElementsByName("bar_name")[0].value === "")
            err += "Podaj nazwę baru. ";
        else if(document.getElementsByName("bar_name")[0].value.length > 255)
            err += "Nazwa baru jest za długa. "

        if(document.getElementsByName("email")[0].value === "")
            err += "Podaj email. ";

        if(document.getElementById("repeated_password") != undefined &&
            document.getElementsByName("password")[0].value != document.getElementById("repeated_password").value)
            err += "Wprowadzone hasła nie są identyczne. ";


        if(document.getElementsByName("telephone")[0].value === "")
            err += "Podaj numer telefonu. ";
        else if(document.getElementsByName("telephone")[0].value.length > 11)
            err += "Numer telefonu jest za długi. "

        if(document.getElementsByName("city")[0].value === "")
            err += "Podaj miasto. ";
        else if(document.getElementsByName("city")[0].value.length > 80)
            err += "Nazwa miasta jest za długa. "

        if(document.getElementsByName("street")[0].value === "")
            err += "Podaj ulicę. ";
        else if(document.getElementsByName("street")[0].value.length > 80)
            err += "Nazwa ulicy jest za długa. "

        if(document.getElementsByName("building_number")[0].value === "")
            err += "Podaj numer budynku. ";
        else if(document.getElementsByName("building_number")[0].value.length > 4)
            err += "Numer budynku jest za duży. ";

        if(document.getElementsByName("local_number")[0].value.length > 4)
            err += "Numer lokalu jest za duży. ";


        if(err == "") return true;
        else
        {
            AlertError('Błąd!',err);
            //document.getElementById("error").innerHTML = err;

            return false;
        }

    }

    function getMessages()
    {
        var msg = "<%= (!!locals.msg)?msg:'' %>";
        var type = "<%= (!!locals.type)?type:'' %>";
        var flash_messages = document.getElementById('flash_msg');


        showAlert(type, msg);
        if(flash_messages != null) {
            flash_messages = flash_messages.innerHTML.split(',');
            if(flash_messages.length > 1)
                showAlert(flash_messages[0], flash_messages.slice(1, flash_messages.length).join(', '));
        }
    }
    function showAlert(msg_type, msg)
    {
        if(msg_type == 'ERROR') AlertError("Błąd!", msg);
        else if(msg_type == 'SUCCESS') AlertSuccess("Sukces", msg);
        else if(msg_type == 'INFO') AlertWarning("Informacja", msg);
        else if(msg_type != '') console.log("[FAILED ALERT] " + msg_type + ": " + msg);
    }
</script>

<body onload="getMessages()">
<div id="alerts"></div>
<% if (flash_messages) { %>
<div id='flash_msg' style="display: none;"><%= flash_messages %></div>
<% } %>

<div id="page" class=page style="overflow: hidden;">      <!--Div page with id=page - main container-->
    <h1><%= title %></h1>

    <form method="POST" action="/edit_bar" onsubmit="return validateForm();">
        <table>
            <tr>
                <td>
                    Nazwa baru:
                </td>
                <td>
                    <input tabindex="100" type="text" name="bar_name" value="<%= bar.nazwa_baru%>">
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    <input tabindex="100" type="email" name="email" value="<%= bar.email%>">
                </td>
            </tr>
            <tr>
                <td>
                    Hasło:
                </td>
                <td>
                    <input tabindex="100" type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    Potwierdz hasło:
                </td>
                <td>
                    <input tabindex="100" type="password" id="repeated_password">
                </td>
            </tr>
            <tr>
                <td>
                    Telefon:
                </td>
                <td>
                    <input tabindex="100" type="text" name="telephone" value="<%= bar.telefon%>">
                </td>
            </tr>
            <tr>
                <td>
                    Miasto:
                </td>
                <td>
                    <input tabindex="100" type="text" name="city" value="<%= bar.miasto%>">
                </td>
            </tr>
            <tr>
                <td>
                    Ulica:
                </td>
                <td>
                    <input tabindex="100" type="text" name="street" value="<%= bar.ulica%>">
                </td>
            </tr>
            <tr>
                <td>
                    Numer budynku:
                </td>
                <td>
                    <input tabindex="100" type="text" name="building_number" value="<%= bar.numer_budynku%>">
                </td>
            </tr>
            <tr>
                <td>
                    Numer lokalu*:
                </td>
                <td>
                    <input tabindex="100" type="text" name="local_number" value="<%= bar.numer_lokalu%>">
                </td>
            </tr>
        </table>
        <p>* - opcjonalne</p>
        <br>
        <pre id="error" style="color:red"></pre>
        <input type="submit" tabindex="100" value="Zapisz zmiany">
    </form>

    <input type="button" href="/delete_bar">
        Usuń bar
    </input>
</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>
