<!DOCTYPE html>
<html>
    <% include head.ejs %>      <!--Include head section (same for all pages)-->
    <!--Javascripts includes-->
    <script src='/javascripts/alert.js' type='text/javascript' ></script>
    <script src='/javascripts/sorttable.js' type='text/javascript'></script>

    <script>
        function validateForm()
        {
            var search_text = document.getElementById("search_text").value
            var teams = search_text.split(',')
            if(teams.length != 2)
            {
                AlertError('Błąd!',"Podaj dwie nazwy druzyn oddzielone znakiem \",\"");
                return false;
            }
            return true;
        }
        function getMessages()
        {
            var msg = "<%= (!!locals.msg)?msg:'' %>";
            var type = "<%= (!!locals.type)?type:'' %>";
            var flash_messages = document.getElementById('flash_msg');
            
            
            showAlert(type, msg);
            if(flash_messages != null) {
                flash_messages = flash_messages.innerHTML.split(',');
                if(flash_messages.length > 1)
                    showAlert(flash_messages[0], flash_messages.slice(1, flash_messages.length).join(', '));
            }
        }
        function showAlert(msg_type, msg)
        {
            if(msg_type == 'ERROR') AlertError("Błąd!", msg);
            else if(msg_type == 'SUCCESS') AlertSuccess("Sukces", msg);
            else if(msg_type == 'INFO') AlertWarning("Informacja", msg);
            else if(msg_type != '') console.log("[FAILED ALERT] " + msg_type + ": " + msg);
        }
    </script>
    
    <body onLoad='getMessages()'>
        <div id="alerts"></div><br>
        <% if (flash_messages) { %>
            <div id='flash_msg' style="display: none;"><%= flash_messages %></div>
        <% } %>


        <div id="page" class=page>      <!--Div page with id=page - main container-->
            <form method="POST" action="/search_match" onsubmit="return validateForm();">
                <table class="sortable">
                    <td>
                        Znajdź mecz:
                    </td>
                    <td>
                        <input tabindex="100" type="text" name="search_text">
                    </td>
                </table>
                <pre id="error" style="color:red"></pre>
                <input type="submit" tabindex="100" value="Szukaj" if="search_text">
            </form>
            <br/><br/>
            <h2>Najbliższe mecze</h2>
            <table class="sortable table">
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Data i godzina meczu</th>
                <%mecze.forEach(function (mecz) { %>
                <tr>
                    <td><a href="<%= "/about/match/" + mecz.id_meczu %>" class=link ><%=mecz.team1%></a></td>
                    <td><a href="<%= "/about/match/" + mecz.id_meczu %>" class=link ><%=mecz.team2%></a></td>
                    <td><a href="<%= "/about/match/" + mecz.id_meczu %>" class=link ><%=mecz.czas%></a></td>
                </tr>
                <%})%>
            </table>
        </div>
        <% include header.ejs %>      <!--Include header (top menu logo etc)-->
        <% include footer.ejs %>      <!--Include footer-->
    </body>
</html>
