<!DOCTYPE html>
<html>
<% include head.ejs %>
<!--Include head section (same for all pages)-->
<!--Javascripts includes-->

<script src='/javascripts/alert.js' type='text/javascript'></script>

<script>
    function validateForm() {
        return true;
    }
</script>

<body>
<div id="alerts"></div>
<div id="page" class=page>
    <h1><%= title %></h1>
    <table class="table">
        <thead>
        <th>Nazwa</th>
        <th>Czas</th>
        <th>Opcje</th>
        </thead>
        <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].team1 + " - " + data[i].team2 %></td>
                <td><%= data[i].czas %></td>
                <td><a href="<%= "/match/edit/" + data[i].id %>">Edycja</a></td>
                                <td><a href="<%= "/match/delete/" + data[i].id %>">Usun</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <div style="text-align:center">
        <input type="button" value="Dodaj" onclick="location.href='/match/add'">
        <!--<a href="/match/add" class="btn btn-primary float-right">Dodaj</a>-->
    </div>

</div>
<% include header.ejs %>
<% include footer.ejs %>
</body>
</html>