<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' ></script>
<script src='/javascripts/sorttable.js' type='text/javascript'></script>

<body>
<div id="alerts"></div>
<div id="page" class=page>      <!--Div page with id=page - main container-->
    <div>
        <form method="POST" action="/search_match" onsubmit="return validateForm();">
            <table>
                <td>
                    Znajdź mecz:
                </td>
                <td>
                    <input tabindex="100" type="text" name="search_text_team" value="">
                </td>
            </table>
            <pre id="error" style="color:red"></pre>
            <input type="submit" tabindex="100" value="Szukaj" if="search_text_team">
        </form>
        <br/><br/>
        <h2>Znalezione mecze</h2>
        <table class="sortable table">
                <tr>
                    <th></th>
                    <th>liga</th>
                    <th>gospodarze</th>
                    <th>goscie</th>
                    <th>czas</th>
                </tr>
            <% args.map((element)=>{%>
                <tr>
                    <td><a href="<%= "/about/match/" + element.id_meczu %>" class=link >pokaż mecz</a></td>
                    <td><a href="<%= "/about/league/" + element.liga %>" class=link ><%= element.liga %></a></td>
                    <td><a href="<%= "/team_matches/" + element.home_id %>" class=link ><%= element.home %></a></td>
                    <td><a href="<%= "/team_matches/" + element.away_id %>" class=link ><%= element.away %></a></td>
                    <td><a href="<%= "/about/match/" + element.id_meczu %>" class=link ><%= element.czas %></a></td>
                </tr>
            <%}) %>
            </table>
    </div>

</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>
