<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' >
</script>
<body>
<div id="alerts"></div>
<div id="page" class=page>      <!--Div page with id=page - main container-->
    <div>
        <ul>
            <table>
                <tr>
                    <th>gospodarze</th>
                    <th>goscie</th>
                    <th>czas</th>
                </tr>
            <% args.map((element)=>{%>
                <tr>
                    <td><a href="<%= "/about/match/" + element.id_meczu %>"><%= element.home %></a></td>
                    <td><a href="<%= "/about/match/" + element.id_meczu %>"><%= element.away %></a></td>
                    <td><a href="<%= "/about/match/" + element.id_meczu %>"><%= element.czas %></a></td>
                </tr>
            <%}) %>
            </table>
        </ul>
    </div>

</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>
