<!DOCTYPE html>
<html>
<% include head.ejs %>
<!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src='/javascripts/sorttable.js' type='text/javascript'></script>
<script>
    function validateForm() {
        return true;
    }
</script>

<body>


<div id="alerts"></div>
<div id="page" class=page>
    <h1><%= title %></h1>
    <table class="sortable table">
        <thead>
        <th><a>Data</a></th>
        <th><a>Bar</a></th>
        <th><a>Mecz</a></th>
        <th><a>Miasto</a></th>
        </thead>
        <tbody>
        <%
        for(var i = 0; i < data.length; i++) { %>
        <tr>
            <td><%= moment(data[i].czas).format('YYYY-MM-DD HH:mm') %></td>
            <td><%= data[i].nazwa_baru %></td>
            <td><%= data[i].druzyna1 %> - <%= data[i].druzyna2 %></td>
            <td><%= data[i].miasto %></td>
        </tr>
        <% } %>
        </tbody>
    </table>


</div>
<% include header.ejs %>
<% include footer.ejs %>
</body>
</html>

<script>

</script>